@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-primary-main-4/[0.25];
}

a[href]:focus,
button:not(:disabled):focus {
  @apply outline-dotted outline-secondary-main-3/50;
}

.font-header,
.font-body,
.font-cta {
  font-weight: 300;
}

.font-code {
  font-weight: 400;
}

b,
strong {
  font-weight: 600;
}
